.logo{
    width: 100px;
}   
body{
    background-color: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.content {
    flex: 1; /* Faz o conteúdo crescer e empurrar o rodapé para o final */
    padding: 20px;
}

.footer {
    background-color: #a3d9a5; /* Cor de fundo verde */
    padding: 20px;
    font-size: 16px;
    color: black;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Espaço entre os elementos */
    align-items: center; /* Alinha verticalmente */
}

.social-icons a {
    margin-left: 10px;
}

.social-icons img {
    width: 30px;
    height: auto;
}
